appdirs==1.4.4
arrow==0.15.7
astroid==2.4.2
attrs==19.3.0
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.9.1
bibtexparser==1.2.0
black==19.10b0
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.3.2
decorator==4.4.2
fake-useragent==0.1.11
future==0.18.2
idna==2.10
ipykernel==5.3.4
ipython==7.31.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.6
jupyter-core==4.11.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
parso==0.7.1
pathspec==0.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
pylint==2.5.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pywin32==228
pyzmq==19.0.2
regex==2020.7.14
requests==2.24.0
rope==0.17.0
scholarly @ git+https://github.com/OrganicIrradiation/scholarly.git@02cfb9bd0d584e500e445cd115bdaaee57b8c97a
six==1.15.0
soupsieve==2.0.1
stem==1.8.0
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.9
wcwidth==0.2.5
wrapt==1.12.1
